*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

.main {
    height: 100vh;
    width: 100vw;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  

}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top , #bfe9ff, #f3b4bb);

}

h1 {
    color: rgb(239, 241, 245);
    font-size: 6rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.calculator {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 15px;
   
}

.container {
    scale: 100%;
    position: relative;
    max-width: 550px;
    height: 600px;
    width: 100%;
    border-radius: 12px;
    padding: 10px 20px 20px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.display {

    height: 180px;
    width: 100%;
    outline: none;
    border: none;
    text-align: right;
    margin-bottom: 10px;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 10px;
    justify-content: space-around;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    overflow: hidden;
    align-items: flex-end;
    flex-direction: column;
    font-size: 2.5rem;
    font-weight: bold;
    pointer-events: none;
    user-select:none;
   /*
    background: #cac3c3a4;
    */
}


.calculator button {
   height:  65px;
   width: 100%;
   border: none;
   cursor: pointer;
   border-radius: 10px;
   font-size: 1.5rem;
   font-weight: bold;
   outline: none;
   background: #cac3c33f;
    text-align: center;
}

.equal-key {
    grid-column-start: 3;
    grid-column-end: 5;
}

.operator-key, .clear-key, .percent-key, .backspace-key, .equal-key, .operator {

    color: rgb(245, 144, 144);
}